ODD_Schema/BartramODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron"
   xmlns:rng="http://relaxng.org/ns/structure/1.0" version="2.9.1" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Thomas Bartram's Merchant and Shipping Account Log Book ODD</title>
         </titleStmt>
         <publicationStmt>
            <authority>Black Rock Historical Society</authority>
            <pubPlace>Bridgeport, CT USA</pubPlace>
            <date>2016</date>
            <availability>
               <p>Reproduced by courtesy of the Connecticut Historical Society.</p>
               <licence>Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported
                  License.</licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Born Digital.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="bartramODD" start="TEI teiCorpus" prefix="tei">
            <!-- Required Modules -->
            <moduleRef key="tei"/>
            <moduleRef key="core"
               include="author date desc graphic p pubPlace resp respStmt title head list item note measure choice sic reg unclear add"/>
            <moduleRef key="header"
               include="authority availability handNote idno license principal profileDesc publicationStmt sourceDesc sponsor titleStmt edition editionStmt editorialDecl encodingDesc fileDesc"/>
            <moduleRef key="textstructure" include="back div"/>
            <!-- Optional Modules -->
            <moduleRef key="namesdates"
               include="addName forename genName geo listPerson listPlace location persName person place surname"/>
            <moduleRef key="gaiji" include="g char charDecl charName"/>
            <moduleRef key="figures" include="figure"/>
            <moduleRef key="msdescription"
               include="collection msDesc msIdentifier physDesc repository"/>
            <moduleRef key="transcr" include="handNotes supplied facimile"/>


            <elementSpec ident="add" module="core" mode="change">
               <attList>
                  <attDef ident="resp" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.pointer"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="#RF"/>
                        <valItem ident="#RP"/>
                        <valItem ident="#SG"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="date" module="core" mode="change">
               <attList>
                  <attDef ident="when" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.temporal.iso"/>
                     </datatype>
                  </attDef>
                  <attDef ident="from-iso" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.temporal.iso"/>
                     </datatype>
                  </attDef>
                  <attDef ident="to-iso" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.temporal.iso"/>
                     </datatype>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="div" module="textstructure" mode="change">
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="page"/>
                        <valItem ident="group"/>
                     </valList>
                  </attDef> 
                  <attDef ident="subtype" mode="replace" usage="opt">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="credit"/>
                        <valItem ident="debit"/>
                     </valList>
                  </attDef> 
               </attList>
            </elementSpec>
            <elementSpec ident="forename" module="namesdates" mode="change">
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="first"/>
                        <valItem ident="middle"/>
                        <valItem ident="maiden"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="g" module="gaiji" mode="change">
               <attList>
                  <attDef ident="ref" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.pointer"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="#longHyphen"/>
                        <valItem ident="#ditto"/>
                        <valItem ident="#afterName"/>
                        <valItem ident="#stItem"/>
                     </valList>
                  </attDef>
                  <attDef ident="n" mode="replace" usage="opt">
                     <datatype>
                        <dataRef key="teidata.numeric"/>
                     </datatype>
                     </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" module="core" mode="change">
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="entry"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="replace" usage="opt">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="total"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="measure" module="core" mode="change">
               <attList>
                  <attDef ident="type" mode="replace" usage="opt">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="currency"/>
                     </valList>
                  </attDef>
                  <attDef ident="commodity" mode="replace" usage="opt">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     </attDef>
                  <attDef ident="quantity" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.numeric"/><!-- If flagged: because of numbers starting with 0 -->
                     </datatype>
                  </attDef>
                  <attDef ident="unit" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="£sd"/>
                        <valItem ident="dollars"/>
                        <valItem ident="ft"/>
                        <valItem ident="lb"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="note" module="core" mode="change">
               <attList>
                  <attDef ident="resp" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.pointer"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="#RF"/>
                        <valItem ident="#RP"/>
                        <valItem ident="#SG"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="person" module="namesdates" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="place" module="namesdates" mode="change">
               <attList>
                  <attDef ident="resp" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="reg" module="core" mode="change">
               <attList>
                  <attDef ident="resp" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.pointer"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="#RF"/>
                        <valItem ident="#RP"/>
                        <valItem ident="#SG"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="supplied" module="transcr" mode="change">
               <attList>
                  <attDef ident="resp" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.pointer"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="#RF"/>
                        <valItem ident="#RP"/>
                        <valItem ident="#SG"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" module="core" mode="change">
               <attList>
                  <attDef ident="reason" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="strikethrough"/>
                        <valItem ident="illegible"/>
                     </valList>
                  </attDef>
                  <attDef ident="unit" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="chars"/>
                        <valItem ident="words"/>
                     </valList>
                  </attDef>
                  <attDef ident="quantity" mode="replace" usage="req">
                     <datatype>
                        <dataRef key="teidata.numeric"/>
                     </datatype>
                     </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="choice" module="core" mode="change">
               <constraintSpec scheme="isoschematron" ident="oddSpellingReg">
                  <constraint>
                     <sch:rule context="tei:choice">
                        <sch:assert test="child::reg">
                           The choice element must contain a reg element.
                        </sch:assert>
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec scheme="isoschematron" ident="oddSpellingSic">
                  <constraint>
                     <sch:rule context="tei:choice">
                        <sch:assert test="child::sic">
                           The choice element must contain a sic element.
                        </sch:assert>
                     </sch:rule>
                  </constraint>
               </constraintSpec>
            </elementSpec>
            
            <!-- Sample schematron rule for ODD:
          <constraintSpec scheme="isoschematron" ident="pair_geos">
             <constraint>
                <sch:rule context="tei:location">
                   <sch:assert test="count(tei:geo) = 2 and count(tei:geo[@type='lat']) = 1 and count(tei:geo[@type='long']) = 1">
                      The location element must have two geo element children. 
                      Of these, there must be one geo[@type='lat'] and one geo[@type='long'].
                   </sch:assert>
                </sch:rule>
             </constraint>
          </constraintSpec>-->
         </schemaSpec>
      </body>
   </text>
</TEI>
